* {
    font-family: 'Open-Dyslexic', sans-serif !important; 
    background-color: #FFFAEE;
}

#home-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    margin-top: 10%;
    justify-content: center;
}

.button{
    border-radius: 80;
}

h1{
    font-size: 80px;
}

#logo{
    height: 200px;
    width: 200px;
}

.sound-spacing{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sound_img{
    height: 80px;
    width: 80px;
    padding-top: 60px;
}

#stock{
    border-radius: 40px;
    height: 40px;
    width: 100%;
    border: 4px solid #4947BB;
    width: 40%;
    margin-left: 30%;
}

input::placeholder {
    font: 20px "Open-Dyslexic";
}

p{
    font-size: 40px;
}

#submit{
    background-color: #4947BB;
    color: white;
    border-radius: 35px;
    height: 70px;
    width: 250px;
    font-size: 25px;
    margin-left: 43%;
    font-size: 30px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

input[type="text"]{
    font-size: 30px;
}

#logo{
    height: 100px;
    width: 100px;
}

#company-name{
    width: 500px;
    height: 150px;
    background-color: black;
    border-radius: 40px;
    color: white;
    font-size: 130px;
    padding: 20px;
}

#open-price{
    height: 75px;
    border-radius: 40px;
    color: black;
    font-size: 80px;
}

#high-price{
    width: 300px;
    border-radius: 40px;
    background-color: #3C8443;
    color: white;
    font-size: 40px;
    padding: 10px;
}

#low-price{
    width: 300px;
    border-radius: 40px;
    background-color: #831D1D;
    color: white;
    font-size: 40px;
    padding: 10px;
}



.about-div{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#about-values{
    font: white;
    font-size: 50px;
    padding-left: 25px;
}


#variant-prices{
    position: absolute;
    top: 15%;
    left: 50%;
}

p#open-price{
    margin-top: 10px;
}

.green{
    color: green;
}

.red{
    color: #831D1D;
}

p.green{
    margin-bottom: 10px;
}

p.red{
    margin-bottom: 10px;
}

#image-chart{
    display: none;
}

#view-chart{
    width: 30%;
    border-radius: 40px;
    background-color: rgb(255, 127, 149);
    color: white;
    height: 70px;
    width: 300px;
    font-size: 45px;
}